<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785350410225-65p1hef0d6i8p6pn90vu8oohu3r29g0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785350410225-65p1hef0d6i8p6pn90vu8oohu3r29g0o</string>
	<key>API_KEY</key>
	<string>AIzaSyAUDrz9DFRlxrtCXrpxMzJ8R-MGiy75oCU</string>
	<key>GCM_SENDER_ID</key>
	<string>785350410225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rachitadongre.yournotes</string>
	<key>PROJECT_ID</key>
	<string>yournotes-4b9b8</string>
	<key>STORAGE_BUCKET</key>
	<string>yournotes-4b9b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785350410225:ios:1b9b2956d53f8924d44e50</string>
</dict>
</plist>